<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <system.serviceModel>
    <services>
      <!--基本字典-->
      <service name="dcl.svr.dicbasic.HospitalBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.TypeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.CHTypeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.SampleBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.SamRemarksBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.FeesTypeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.DicSampleBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.InstrmtBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.InstrmtComBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.ItemBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.ItemCombineBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.svr.root.com.ICommonBIZ" />
      </service>      
      <service name="dcl.svr.dicbasic.DepartBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.BscripeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.ReferenceNameBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.DiagnosBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
        <service name="dcl.svr.dicbasic.S_StateBIZ" behaviorConfiguration="CommonBehavior">
          <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
        </service>
      <service name="dcl.svr.dicbasic.Item_PropBIZ" behaviorConfiguration="CommonBehavior">
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
        </service>
      <service name="dcl.svr.dicbasic.ItemCopyBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.ReportBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.Mitm_NoBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.ConResAdjustBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
          <service name="dcl.svr.dicbasic.UGR_TypeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>     
      <service name="dcl.svr.dicbasic.CheckbBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.DoctorBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.ClItemBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.InspectBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.OriginBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.No_TypeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.ItemTaxisBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>

      <service name="dcl.svr.dicbasic.DictNobactBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>

      <service name="dcl.svr.dicbasic.QCInstrmtBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      
      <service name="dcl.svr.wcf.DictService" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDictService" />
      </service>
      
      <service name="dcl.svr.dicbasic.ItemDefaultBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.InstrmtWarningSignsBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.ItemExportBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.ItemCombineExportBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.ClItemExportBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.DiagnosExportBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.DicSampleExportBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.SamRemarksExportBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.S_StateExportBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.BscripeExportBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.DictNobactExportBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.DicGetReportTime" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZExt" />
      </service>
      <service name="dcl.svr.dicbasic.CombineTimeruleBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.wcf.ItemPropService" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IItemPropNew" />
      </service>
      <service name="dcl.svr.dicbasic.CombineLabcodeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.WorksheetBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.EfficacyBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.DictComFeesBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDictComFees" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
