<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="bigdata" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="4097152" maxBufferPoolSize="2097152" maxReceivedMessageSize="4097152"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <!-- Reset maxStringContentLength for deserialize -->
          <readerQuotas maxDepth="32" maxStringContentLength="2097152" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>

    </bindings>
    <services>
      <service name="Lis.PluginInterface.Service.PluginInterfaceService" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="Lis.PluginInterface.Interface.IPluginInterfaceContact" />
      </service>
     

    </services>
  </system.serviceModel>
</configuration>
