<?xml version="1.0"?>

<configuration>
  <system.serviceModel>
    <services>
      
      <service name="dcl.svr.users.SysInterfaceLogBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.ISysInterfaceLog" />
      </service>

    </services>
  </system.serviceModel>
</configuration>
