<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--  <properties resource="properties.config"/> -->

  <settings>
    <setting useStatementNamespaces="false" />
  </settings>

  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="clab_temp" connectionString="Data Source=.;Initial Catalog=clab;User ID=sa;Password=sql;min pool size=2"/>
  </database>

  <sqlMaps>
    <sqlMap resource="Maps/BarcodeCombines.xml"/>
    <sqlMap resource="Maps/BarcodePatients.xml"/>
    <sqlMap resource="Maps/BarcodeCombinesRecodes.xml"/>
    <sqlMap resource="Maps/Combines.xml"/>
    <sqlMap resource="Maps/ReturnMessages.xml"/>
    <sqlMap resource="Maps/DictInstrmt.xml"/>
    <sqlMap resource="Maps/BarcodeSignRecodes.xml"/>
  </sqlMaps>

</sqlMapConfig>