<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <system.serviceModel>
    <services>
      <!--基本字典-->
      <service name="dcl.svr.dicbasic.HospitalBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.TypeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.CHTypeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.SampleBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.SamRemarksBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.FeesTypeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.InstrmtBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.InstrmtComBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.ItemBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.CombineSplitBarCodeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.ICombineSplitBarCode" />
      </service>
      <service name="dcl.svr.dicbasic.ItemCombineBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.ItemCombineBarcodeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.DepartBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.BscripeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.ReferenceNameBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.DiagnosBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.BCCuvetteBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
        <service name="dcl.svr.dicbasic.S_StateBIZ" behaviorConfiguration="CommonBehavior">
          <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
        </service>

      <service name="dcl.svr.dicbasic.DicIcdCombineBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon"/>
      </service>
      <service name="dcl.svr.dicbasic.TemperatureBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.DictHarvesterBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.Item_PropBIZ" behaviorConfiguration="CommonBehavior">
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
        </service>
      <service name="dcl.svr.dicbasic.Mitm_NoBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.ConResAdjustBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
          <service name="dcl.svr.dicbasic.UGR_TypeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>     
      <service name="dcl.svr.dicbasic.CheckbBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.DoctorBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.ClItemBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.InspectBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.dicbasic.OriginBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.No_TypeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.DictNobactBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.DicGetReportTime" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.svr.root.com.ICommonBIZExt" />
      </service>
      <service name="dcl.svr.dicbasic.CombineTimeruleBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.EfficacyBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.DictItemUrgentValueBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.CombineSplitBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.ItrResCopyBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.SampReturnBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.TubeRackBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.ComReptimeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>
      

      <service name="dcl.svr.dicbasic.DictJudgeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.DictCalcBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.DictRackBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.IceBoxBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>
      <service name="dcl.svr.dicbasic.CupsBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDicCommon" />
      </service>

      <service name="dcl.svr.dicbasic.DictMitmNoResultViewBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"   contract="dcl.servececontract.IDictMitmNoResultView" />
      </service>

    </services>
  </system.serviceModel>
</configuration>
