<?xml version="1.0"?>

<configuration>
  <system.serviceModel>
    <services>
      <service name="dcl.svr.dicmic.Mic_Template" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>

      <service name="dcl.svr.dicmic.Dic_Antibio_TypeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>

      <service name="dcl.svr.dicmic.DefAntiTypeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IDicCommon" />
      </service>


    </services>
  </system.serviceModel>
</configuration>
