<?xml version="1.0"?>

<configuration>
  <system.serviceModel>
    <services>
      
      <service name="wf.svr.reagent.FrmReagentSettingBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaSetting" />
      </service>
<service name="wf.svr.reagent.ReaApplyBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaApply" />
      </service>
		<service name="wf.svr.reagent.ReaApplyDetailBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaApplyDetail" />
      </service>
	  <service name="wf.svr.reagent.ReaPurchaseBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaPurchase" />
      </service>
		<service name="wf.svr.reagent.ReaPurchaseDetailBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaPurchaseDetail" />
      </service>
		<service name="wf.svr.reagent.ReaSubscribeBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaSubscribe" />
      </service>
		<service name="wf.svr.reagent.ReaSubscribeDetailBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaSubscribeDetail" />
      </service>
	  <service name="wf.svr.reagent.ReaStorageBIZ" behaviorConfiguration="CommonBehavior">
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaStorage" />
		</service>
		<service name="wf.svr.reagent.ReaStorageDetailBIZ" behaviorConfiguration="CommonBehavior">
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaStorageDetail" />
		</service>
		<service name="wf.svr.reagent.ReaDeliveryBIZ" behaviorConfiguration="CommonBehavior">
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaDelivery" />
		</service>
		<service name="wf.svr.reagent.ReaDeliveryDetailBIZ" behaviorConfiguration="CommonBehavior">
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaDeliveryDetail" />
		</service>
	<service name="wf.svr.reagent.ReaLossReportBIZ" behaviorConfiguration="CommonBehavior">
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaLossReport" />
		</service>
		<service name="wf.svr.reagent.ReaLossReportDetailBIZ" behaviorConfiguration="CommonBehavior">
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IReaLossReportDetail" />
		</service>
    </services>
  </system.serviceModel>
</configuration>
