<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="lis.client.control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="lis.client.control.Properties.Settings.hope_lisConnectionString"
            connectionString="Data Source=192.168.3.122\MedChange;Initial Catalog=clab_hzsy;User ID=sa;Password=!@#$%^"
            providerName="System.Data.SqlClient" />
        <add name="lis.client.control.Properties.Settings.hope_lis_newConnectionString"
            connectionString="Data Source=192.168.3.122\MedChange;Initial Catalog=clab_hzsy;Persist Security Info=True;User ID=sa;Password=!@#$%^"
            providerName="System.Data.SqlClient" />
        <add name="lis.client.control.Properties.Settings.clabConnectionString"
            connectionString="Data Source=192.168.3.122\MedChange;Initial Catalog=clab_hzsy;User ID=sa;Password=!@#$%^"
            providerName="System.Data.SqlClient" />
        <add name="lis.client.control.Properties.Settings.clab_tempConnectionString"
            connectionString="Data Source=192.168.3.122\MedChange;Initial Catalog=clab_hzsy;Persist Security Info=True;User ID=sa;Password=!@#$%^"
            providerName="System.Data.SqlClient" />
        <add name="lis.client.control.Properties.Settings.clab_hzsyConnectionString"
            connectionString="Data Source=192.168.3.122\MedChange;Initial Catalog=clab_hzsy;Persist Security Info=True;User ID=sa;Password=!@#$%^"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <lis.client.control.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </lis.client.control.Properties.Settings>
    </userSettings>
</configuration>
