<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <services>
      <service name="dcl.svr.wcf.RunTimeSettingService" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IRunTimeSetting" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
