<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dcl.client.dicbasic.Properties.Settings.hope_lisConnectionString" connectionString="Data Source=林森\MICRO;Initial Catalog=hope_lis;User ID=lis;Password=sql" providerName="System.Data.SqlClient"/>
        <add name="dcl.client.dicbasic.Properties.Settings.hope_lisConnectionString1" connectionString="Data Source=192.168.1.101\MICRO;Initial Catalog=hope_lis;User ID=lis;Password=sql" providerName="System.Data.SqlClient"/>
        <add name="dcl.client.dicbasic.Properties.Settings.clab_temp_dotnetConnectionString" connectionString="Data Source=192.168.3.1\hopeserver2005;Initial Catalog=clab_temp_dotnet;User ID=sa;Password=sql" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
