<?xml version="1.0"?>
<!--
  注意: 除了手动编辑此文件以外， 
  还可以使用 Web 管理工具来配置应用程序的设置。
  可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
  设置和注释的完整列表在 
  machine.config.comments 中，该文件通常位于 
  \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <system.serviceModel>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"  minFreeMemoryPercentageToActivateService="0" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="CommonBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="65536000" />
        </behavior>
        <behavior name="dcl.pub.wcf.Instrmt.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="65536000" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="bigdata" closeTimeout="00:05:10" openTimeout="00:05:10" receiveTimeout="00:05:10" sendTimeout="00:05:10" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <!-- Reset maxStringContentLength for deserialize -->
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="CommonBehavior" name="dcl.svr.root.com.CommonBIZ">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ"/>
      </service>
      <service behaviorConfiguration="CommonBehavior" name="dcl.svr.frame.LoginBIZ">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ"/>
      </service>
      <service behaviorConfiguration="CommonBehavior" name="dcl.svr.frame.UserLoginBIZ">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.ILogin"/>
      </service>
      <service behaviorConfiguration="CommonBehavior" name="dcl.svr.frame.FrmMainBiz">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ"/>
      </service>
      <service behaviorConfiguration="CommonBehavior" name="dcl.svr.frame.PublicBIZ">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ"/>
      </service>
      <service behaviorConfiguration="dcl.pub.wcf.Instrmt.Service1Behavior" name="dcl.pub.wcf.Instrmt.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="dcl.pub.wcf.Instrmt.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>

  <appSettings>
    <add key="checktime" value="1800"/>
    <!--<add key="ConnectionString" value="Data Source=192.168.2.103;Initial Catalog=clab_hzsy_d;User ID=sa;Password=123456;min pool size=20"/>-->
    
    <!--<add key="ConnectionString" value="Data Source=192.168.1.108;Initial Catalog=clab_hzsy_d;User ID=sa;Password=123456;min pool size=20"/>
    <add key="ConnectionStringMed" value="Data Source=192.168.3.122\MedChange;Initial Catalog=clab_med;User ID=sa;Password=!@#$%^;min pool size=20"/>-->
    
    <add key="ConnectionString" value="Data Source=192.168.1.225;Initial Catalog=clab_n3.6;User ID=sa;Password=!@#$%^;min pool size=20"/>
    <add key="ConnectionStringMed" value="Data Source=192.168.1.225;Initial Catalog=clab_n3.6;User ID=sa;Password=!@#$%^;min pool size=20"/>

    <!--<add key="ConnectionStringMed" value="Data Source=.;Initial Catalog=clab_zssy 02-26;User ID=sa;Password=123456;min pool size=20"/>-->

    <!--<add key="ConnectionString" value="Data Source=100.100.100.6\sql2005;Initial Catalog=clab;User ID=sa;Password=87281383;min pool size=20"/>-->
    <!--<add key="ConnectionString" value="Data Source=localhost;Initial Catalog=clab_hzsy;User ID=sa;Password=123456;min pool size=20"/>
    <add key="ConnectionStringMed" value="Data Source=localhost;Initial Catalog=clab_med;User ID=sa;Password=123456;min pool size=20"/>-->
    <!--<add key="ConnectionString" value="Data Source=.;Initial Catalog=clab_hzsy;User ID=sa;Password=!@#$%^;min pool size=20"/>-->
    <!--<add key="ConnectionStringMed" value="Data Source=.;Initial Catalog=clab_med;User ID=sa;Password=!@#$%^;min pool size=20"/>-->

    <!--<add key="ConnectionString" value="Data Source=192.168.1.216\sql2008r2;Initial Catalog=clab_szxa;User ID=sa;Password=sql;min pool size=20" />-->
    <!--<add key="ConnectionString" value="Data Source=192.168.1.216\SQL2008R2;Initial Catalog=clab_szglyy;User ID=sa;Password=sql;min pool size=20" />-->
    <add key="CDRConnectionString" value="Data Source=192.168.1.122\MedChange;Initial Catalog=CDR;User ID=sa;Password=!@#$%^;min pool size=20"/>
    <add key="BIConnectionString" value="Data Source=192.168.1.225;Initial Catalog=BI;User ID=sa;Password=!@#$%^;min pool size=20"/>
    <!--<add key="ConnectionString" value="Data Source=192.168.3.7\sql2005;Initial Catalog=clab_fssy;User ID=sa;Password=sql;min pool size=20" />-->
    <!--<add key="ConnectionString" valu6e="Data Source=199.199.199.56;Initial Catalog=clab_nhyy;User ID=sa;Password=87281383;min pool size=20" />-->
    <!--<add key="ConnectionString" value="Data Source=192.168.1.212\sql2005;Initial Catalog=clab_qyry;User ID=sa;Password=sql;min pool size=20" /> -->
    <!--<add key="ConnectionString" value="Data Source=192.168.3.201\sql2005;Initial Catalog=zsph_clab;User ID=sa;Password=sql;min pool size=20" />-->
    <!--检验报告查询旧检验（转移后数据）报告单-->
    <add key="LisHistoryConnectionString" value=""/>
    <!--检验报告查询旧检验（转移后数据）报告单时间界限-->
    <add key="LisHistoryDate" value="2013-01-01"/>
    <add key="LqcsConnectionString" value="Data Source=192.168.1.216\sql2005;Initial Catalog=clab_qyry3;User ID=sa;Password=sql;min pool size=20"/>
    <!--旧检验数据库，用于旧门诊条码读取-->
    <add key="OldLisConnectionString" value="Data Source=192.168.3.1\hopeserver2005;Initial Catalog=clab_zsxqyy;User ID=sa;Password=sql;min pool size=20"/>
    <!--危急值短信发送插入数据库链接-->
    <add key="GDOAConnectionString" value="Data Source=192.168.1.122\MedChange;Initial Catalog=clab_hzsy;User ID=sa;Password=!@#$%^;min pool size=20"/>
    <!--用于旧门诊条码读取的医嘱bc_yz_id生成sql字符串时是否加单引号,'1001','10002'与1001,1002的区别-->
    <add key="OldLisYZAddSingleQuotationMarks" value=""/>
    <add key="KingMedMidConnectionString" value="Data Source=192.168.3.7\sql2005;Initial Catalog=kingmed;User ID=sa;Password=sql;min pool size=20"/>
    <add key="LocalFilePath" value="D:\SumDoc_Image\"/>
    <add key="SumDocConnStr" value="Data Source=192.168.10.225;Initial Catalog=zsph_clab;User ID=sa;Password=87281383"/>
    <add key="MidConnStr" value="Data Source=168.168.87.5;Initial Catalog=clab_mid;User ID=sa;Password=sql"/>
    <!--<add key="ConnectionString" value="Data Source=.\lis;Initial Catalog=clab;User ID=sa;Password=sql;min pool size=20" />-->
    <!--<add key="ConnectionString" value="Data Source=192.168.100.61;Initial Catalog=clab_temp;User ID=sa;Password=87281383;min pool size=20" />-->
    <add key="ConnectionString_backup" value="Data Source=100.100.100.174\lis;Initial Catalog=clab_display;User ID=sa;Password=87281383;min pool size=20"/>
    <!--惠侨体检提供的web service服务-->
    <add key="HQTj_WSAddress" value="http://192.168.1.216:8060/tj_web_interface_lis/TJ_WebService.asmx?WSDL"/>
    <add key="EHR_WSAddress" value=""/>
    <add key="UserCount" value="2000"/>
    <add key="DeadLine" value="2100-01-22"/>
    <add key="Register" value="HQjDHP3uaiEUWyw25I678uyPmJ+alH8KYF8lqyKJ9Knva6QSLWcrjVp1mkLu2GvQBIh+IGioOyffd/t49RumKeFwIhWoYLWodkyavxzs3trGIqWv4WQJo7UVSNesBvkjx3ybW8D4yUxQx6u6XIB9RQfw=="/>
    <add key="DCL.ExtDataInterface" value="dcl.plugin.med"/>
    <!--LIS:只显示检验相关功能 MIC:只显示微生物相关功能  ALL: 都显示  没有此配置 只打开lis功能-->
    <add key="SystemType" value="ALL"/>
  </appSettings>
  <!--<appSettings>
  <add key="ConnectionString" value="Data Source=192.168.3.1\HOPESERVER2005;Initial Catalog=clab_fssy_dotnet;User ID=sa;Password=sql;min pool size=20" />
  <add key="UserCount" value="100" />
  <add key="DeadLine" value="2100-01-22" />
  <add key="Register" value="Hq69PoYOAbdaCWjwHEbPOy4ZAXqn46wpgSFAfOCiZwrpaZXyikoJYv4k3kPn+XbqwbvitNh8Q1eolm4JXv+QgA/divlYVPH52gJ8R+4h8zZ3EScgyQh7QSsiYU5QfvrpsFQwubTeb0ewdtoMFzo9my4G5ADwOq/VFw66z1Z+uvJvcHLO0ds6Ah90Y3dDmkMSfYf2qQBBVsIyY6dfitfVqRNvwcnZwe3+75" />
  </appSettings>-->
  <connectionStrings/>
  <system.web>
    <httpRuntime maxRequestLength="2097151"/>
    <!--<identity impersonate="true" userName="lis" password="lis" />-->
    <!--佛山市一专用：outlink需要指定用户才可调用-->
    <!--
      设置 compilation debug="true" ，将调试符号 
      插入已编译的页面中。但由于这会影响性能， 
       因此请只在开发过程中 
      将此值设置为 true。
    -->
    <trust level="Full" originUrl=""/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="DevExpress.XtraCharts.v8.2.Web, Version=8.2.2.0, Culture=neutral, PublicKeyToken=A6519D31830A2C3C"/>
        <add assembly="DevExpress.XtraCharts.v8.2, Version=8.2.2.0, Culture=neutral, PublicKeyToken=A6519D31830A2C3C"/>
        <add assembly="DevExpress.Web.v8.2, Version=8.2.2.0, Culture=neutral, PublicKeyToken=A6519D31830A2C3C"/>
        <add assembly="DevExpress.Charts.v8.2.Core, Version=8.2.2.0, Culture=neutral, PublicKeyToken=A6519D31830A2C3C"/>
        <add assembly="DevExpress.Data.v8.2, Version=8.2.2.0, Culture=neutral, PublicKeyToken=A6519D31830A2C3C"/>
        <add assembly="DevExpress.Utils.v8.2, Version=8.2.2.0, Culture=neutral, PublicKeyToken=A6519D31830A2C3C"/>
        <add assembly="DevExpress.XtraEditors.v8.2, Version=8.2.2.0, Culture=neutral, PublicKeyToken=A6519D31830A2C3C"/>
        <add assembly="DevExpress.Web.ASPxGridView.v8.2, Version=8.2.2.0, Culture=neutral, PublicKeyToken=A6519D31830A2C3C"/>
        <add assembly="DevExpress.Web.ASPxEditors.v8.2, Version=8.2.2.0, Culture=neutral, PublicKeyToken=A6519D31830A2C3C"/>-->
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
      通过 <authentication> 节可以配置
      ASP.NET 使用的安全身份验证 
      模式，以标识传入的用户。 
    -->
    <authentication mode="Windows"/>
    <!--
      通过 <customErrors> 节可以配置在执行请求过程中出现未处理错误时， 
       应执行的操作。 
      具体说来，开发人员通过该节 
      可以配置要显示的 html 错误页 
      以代替错误堆栈跟踪。

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    <customErrors mode="RemoteOnly"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
  </system.web>
  <!--
    在 Internet 信息服务 7.0 下，运行 ASP.NET AJAX 要求 
    system.webServer 节。这在以前版本的 IIS 中并非必需。
  -->
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>