<?xml version="1.0"?>
<configuration>
  <!--FrameWork2.0文件申明-->
  <configSections>
    <sectionGroup name="system.runtime.serialization" type="System.Runtime.Serialization.Configuration.SerializationSectionGroup, System.Runtime.Serialization, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="dataContractSerializer" type="System.Runtime.Serialization.Configuration.DataContractSerializerSection, System.Runtime.Serialization, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <sectionGroup name="system.serviceModel" type="System.ServiceModel.Configuration.ServiceModelSectionGroup, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="behaviors" type="System.ServiceModel.Configuration.BehaviorsSection, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="bindings" type="System.ServiceModel.Configuration.BindingsSection, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="client" type="System.ServiceModel.Configuration.ClientSection, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="comContracts" type="System.ServiceModel.Configuration.ComContractsSection, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="commonBehaviors" type="System.ServiceModel.Configuration.CommonBehaviorsSection, System.ServiceModel,  Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowDefinition="MachineOnly" allowExeDefinition="MachineOnly"/>
      <section name="diagnostics" type="System.ServiceModel.Configuration.DiagnosticSection, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="extensions" type="System.ServiceModel.Configuration.ExtensionsSection, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="machineSettings" type="System.ServiceModel.Configuration.MachineSettingsSection, SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowDefinition="MachineOnly" allowExeDefinition="MachineOnly"/>
      <section name="serviceHostingEnvironment" type="System.ServiceModel.Configuration.ServiceHostingEnvironmentSection, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="services" type="System.ServiceModel.Configuration.ServicesSection, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <sectionGroup name="system.serviceModel.activation" type="System.ServiceModel.Activation.Configuration.ServiceModelActivationSectionGroup, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="diagnostics" type="System.ServiceModel.Activation.Configuration.DiagnosticSection, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="net.pipe" type="System.ServiceModel.Activation.Configuration.NetPipeSection, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="net.tcp" type="System.ServiceModel.Activation.Configuration.NetTcpSection, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <!--网证通验证网址-->
    <add key="GDCAUrl" value=""/>
	  <!--内部提醒指定科室id，多个逗号隔开-->
	  <add key="DepIDs" value="0228"/>
    <!--<add key="GDCAUrl" value="http://61.140.20.131:7002"/>-->
    <add key="PDFUpLoadAddress" value="http://localhost/PDFUPLOAD/LisReport.asmx?wsdl"/>
    <!--入口-->
    <!--<add key="wcfAddr" value="http://10.36.173.211/lis.wcf20120409/" />-->
    <!--<add key="wcfAddr" value="http://192.168.10.221/lis.wcf/" />-->
    <!--<add key="wcfAddr" value="http://192.168.1.46/new_lis/" />-->
    <add key="wcfAddr" value="http://localhost:8190/lis/"/>
    <!--<add key="wcfAddr" value="http://localhost:8083/lis_test/" />-->
    <!--<add key="wcfAddr" value="http://199.199.199.54/lis_nhyy/" />-->

    <!--<add key="wcfAddr" value="http://192.168.10.35/lis/" />-->
    <!--<add key="wcfAddr" value="http://192.168.100.62/lis/" />-->
    <!--<add key="wcfAddr" value="http://192.168.3.38/lis/" />-->
    <!--<add key="wcfAddr" value="http://192.168.252.100/lis/" />-->
    <!--<add key="wcfAddr" value="http://192.168.100.60/lis/" />-->
    <!--<add key="wcfAddr" value="http://172.16.10.7/lis/" />-->

    <!--所有配置是否保存在安装目录下-->
    <add key="AppPathSetting_UseAppPath" value="0"/>

    <!--根据住院号获取病人基本信息接口cmdID-->
    <add key="GetZYPatData_cmdID" value="14"/>

    <add key="svc.basic" value="common/CommonBIZ.svc"/>
    <!--Demo-->
    <add key="svc.FrmProductManage" value="demo/ProductBIZ.svc"/>
    <add key="svc.FrmorderManage" value="demo/OrderBIZ.svc"/>
    <add key="svc.FrmOrderEdit" value="demo/OrderBIZ.svc"/>
    <!--权限-->
    <add key="svc.FrmFuncManagePro" value="power/FuncManageBIZ.svc"/>
    <add key="svc.FrmRoleManagePro" value="power/RoleManageBIZ.svc"/>
    <add key="svc.FrmUserManagePro" value="power/UserManageBIZ.svc"/>
    <add key="svc.FrmChangePassword" value="power/UserManageBIZ.svc"/>
    <add key="svc.FrmCheckDepart" value="power/FuncManageBIZ.svc"/>
    <add key="svc.FrmCheckPassword" value="power/FuncManageBIZ.svc"/>
    <!--日志-->
    <add key="svc.FrmSysLog" value="power/SysLogBIZ.svc"/>
    <!--字典-->
    <add key="svc.DictService" value="dict/DictService.svc"/>
    <!--酶标分类-->
    <add key="svc.EiasaModControl" value="eiasa/DictModBIZ.svc"/>
    <add key="svc.EiasaCalcControl" value="eiasa/DictCalcBIZ.svc"/>
    <add key="svc.EiasaJudgeControl" value="eiasa/DictJudgeBIZ.svc"/>
    <add key="svc.EiasaHoleModeControl" value="eiasa/DictHoleModeBIZ.svc"/>
    <add key="svc.EiasaHoleStatusControl" value="eiasa/DictHoleStatusBIZ.svc"/>
    <add key="svc.EiasaItemHoleControl" value="eiasa/DictItemHoleBIZ.svc"/>
    <add key="svc.FrmEiasaAnalyse" value="eiasa/FrmEiasaAnalyse.svc"/>
    <!--条码-->
    <add key="svc.BCPrintControl" value="barcode/BCPrintBIZ.svc"/>
    <add key="svc.PatientControl" value="barcode/BCPatientBIZ.svc"/>
    <add key="svc.PatientControl1" value="barcode/BCPatientBIZ.svc"/>
    <add key="svc.CName" value="barcode/BCCNameBIZ.svc"/>
    <add key="svc.BCSign" value="barcode/BCSignBIZ.svc"/>
    <add key="svc.FrmBCMonitor" value="barcode/BCMonitorBIZ.svc"/>
    <!--实验码打印-->
    <add key="svc.FrmLabcodePrint" value="barcode/LabcodePrintBIZ.svc"/>
    <!--条码字典-->
    <add key="svc.MessageControl" value="barcode/BCMessageBIZ.svc"/>
    <add key="svc.BCCuvetteControl" value="barcode/BCCuvetteBIZ.svc"/>
    <add key="svc.BCCombineControl" value="barcode/BCCombineBIZ.svc"/>
    <add key="svc.BCCuvetteShelfControl" value="barcode/BCCuvetteShelfBIZ.svc"/>
    <!--标本统计-->
    <add key="svc.FrmSecondStat" value="barcode/SecondStatBIZ.svc"/>
    <!--抗生素-->
    <add key="svc.FrmDict_Antibio1" value="lab/Dict_AntibioBIZ.svc"/>
    <add key="svc.ConHospital" value="dict/HospitalBIZ.svc"/>
    <!--医院-->
    <add key="svc.ConType" value="dict/TypeBIZ.svc"/>
    <!--标本-->
    <add key="svc.ConSample" value="dict/SampleBIZ.svc"/>
    <!--新标本类别-->
    <add key="svc.ConItem_Prop" value="dict/Item_PropBIZ.svc"/>
    <!--项目特征-->
    <add key="svc.ConS_State" value="dict/S_StateBIZ.svc"/>
    <!--项目特征-->
    <add key="svc.ConInstrmt" value="dict/InstrmtBIZ.svc"/>
    <!--项目字典-->
    <add key="svc.ConItemPro" value="dict/ItemBIZ.svc"/>
    <!--item-->
    <add key="svc.ConCombine" value="dict/ItemCombineBIZ.svc"/>
    <!--项目字典排序-->
    <add key="svc.ConDepart" value="dict/DepartBIZ.svc"/>
    <!--描述评价字典-->
    <add key="svc.ConBscripe" value="dict/BscripeBIZ.svc"/>
    <!--诊断字典-->
    <add key="svc.ConDiagnos" value="dict/DiagnosBIZ.svc"/>
    <!---->
    <add key="svc.ConCheckb" value="dict/CheckbBIZ.svc"/>
    <!---->
    <add key="svc.ConOrigin" value="dict/OriginBIZ.svc"/>
    <!---->
    <add key="svc.ConNo_Type" value="dict/No_TypeBIZ.svc"/>
    <!--depart-->
    <add key="svc.ConDepart" value="dict/DepartBIZ.svc"/>
    <!--镜检字典-->
    <add key="svc.ConUGR_Type" value="dict/UGR_TypeBIZ.svc"/>
    <!--镜检字典-->
    <!--计算字典-->
    <add key="svc.ConClItem" value="dict/ClItemBIZ.svc"/>
    <!--医生字典-->
    <!---->
    <add key="svc.ConDoctor" value="dict/DoctorBIZ.svc"/>
    <add key="svc.ConInspect" value="dict/InspectBIZ.svc"/>
    <!--检验人员-->
    <!--仪器通道-->
    <add key="svc.ConMitm_No" value="dict/Mitm_NoBIZ.svc"/>
    <!--仪器结果修正-->
    <add key="svc.ConResAdjust" value="dict/ConResAdjustBIZ.svc"/>
    <!--检验单-->
    <add key="svc.FrmNewLabSingle" value="lab/NewLabSingleBIZ.svc"/>
    <add key="svc.FrmPatientInput" value="lab/PatientInput.svc"/>
    <add key="svc.FrmPatientDescribeEnter" value="lab/PatientInput.svc"/>
    <add key="svc.PatientEnter" value="lab/PatientEnterService.svc"/>
    <add key="svc.ResultMerge" value="lab/ResultMerge.svc"/>
    <!--细菌录入 -->
    <add key="svc.FrmBacterialInput" value="lab/BacterialInputBIZ.svc"/>
    <add key="svc.FrmBacterialInputTest" value="lab/BacterialInputBIZ.svc"/>
    <!--细菌字典-->
    <add key="svc.ConDict_Bacteri" value="bac/Dict_BacteriBIZ.svc"/>
    <!--细菌分类-->
    <add key="svc.ConDict_Btype" value="bac/Dict_BtypeBIZ.svc"/>
    <add key="svc.ConDict_Bacteri_new" value="bac/Dict_BtypeBIZ.svc"/>
    <!--药敏分类-->
    <add key="svc.ConDict_An_Stype" value="bac/Dict_An_StypeBIZ.svc"/>
    <!--抗生素字典-->
    <add key="svc.ConDict_Antibio" value="bac/Dict_AntibioBIZ.svc"/>
    <!--药敏标准表-->
    <add key="svc.ConDict_An_Sstd" value="bac/Dict_An_SstdBIZ.svc"/>
    <!--病人资料批量修改-->
    <add key="svc.FrmBatchEdit" value="tool/BatchEditBIZ.svc"/>
    <!--数据装换设置-->
    <add key="svc.FrmDiversion" value="quality/DiversionBIZ.svc"/>
    <!--质控仪器通道总-->
    <add key="svc.FrmQcRuleInst" value="quality/QcRuleInstBIZ.svc"/>
    <!--质控规则-->
    <add key="svc.FrmCriterion" value="quality/CriterionBIZ.svc"/>
    <!--描述评价-->
    <add key="svc.FrmView" value="lab/ViewBIZ.svc"/>

    <!--添加细菌-->
    <add key="svc.FrmBscripe" value="lab/ViewBIZ.svc"/>
    <add key="svc.FrmBscripeSelect" value="lab/ViewBIZ.svc"/>
    <!--无菌和涂片-->
    <add key="svc.ConNobact" value="dict/NobactBIZ.svc"/>
    <!--报表-->
    <add key="svc.FrmReporMain" value="report/ReporMainBIZ.svc"/>
    <!--事务-->
    <add key="svc.FrmSWMian" value="sw/SWMianBIZ.svc"/>
    <!--报表封装-->
    <add key="svc.FrmReportPrint" value="report/ReportPrintBIZ.svc"/>
    <!--项目分类查询-->
    <add key="svc.FrmItemSort" value="select/ItemSortBIZ.svc"/>
    <!--综合统计分析-->
    <add key="svc.FrmGeneralStatistics" value="stat/GeneralStatisticsBIZ.svc"/>
    <add key="svc.RuntimeSetting" value="common/RunTimeSetting.svc"/>
    <!--汇总打印-->
    <add key="svc.FrmSummaryPrint" value="analyse/SummaryPrintBIZ.svc"/>
    <!--打印设置-->
    <add key="svc.FrmPrintConfiguration" value="report/PrintConfigurationBIZ.svc"/>
    <!--获取服务器版本-->
    <add key="svc.FrmServerReport" value="report/ServerReportBIZ.svc"/>
    <!--标本备注-->
    <add key="svc.ConSamRemarks" value="dict/SamRemarksBIZ.svc"/>
    <!--参考值名称-->
    <add key="svc.ConReferenceName" value="dict/ReferenceNameBIZ.svc"/>
    <!--费用类别-->
    <add key="svc.ConFeesType" value="dict/FeesTypeBIZ.svc"/>
    <!--仪器组合-->
    <add key="svc.ConInstrmtCom" value="dict/InstrmtComBIZ.svc"/>
    <!--消息-->
    <add key="svc.MessageBIZ" value="tool/MessageBIZ.svc"/>
    <!--医嘱确认客户端调用-->
    <add key="svc.AdviceConfirmService" value="interfaces/AdviceConfirmBIZ.svc"/>
    <!--双向查询-->
    <add key="svc.FrmTwoWaySelect" value="select/TwoWaySelectNewBIZ.svc"/>
    <!--病人信息修改工具-->
    <add key="svc.FrmPatientEditTool" value="lab/PatientEditToolBIZ.svc"/>
    <!--取报告时间字典-->
    <add key="svc.DicGetReportTime" value="dict/DicGetReportTimeBIZ.svc"/>
    <!--药敏卡明细-->
    <add key="svc.DictAnSstd" value="bac/DictAnSstdBIZ.svc"/>

    <!--通用院网接口2.0-->
    <add key="svc.DataInterface" value="interfaces/DataInterfaceBIZ.svc"/>

    <!--Lis院网接口-->
    <add key="svc.LisDataInterface" value="interfaces/LisDataInterfaceBIZ.svc"/>

    <!--缓存服务-->
    <add key="svc.CacheService" value="common/CacheServiceBIZ.svc"/>

    <!--文档管理模块-->
    <add key="ws.DocumentManage" value="DocumentManage/DocumentMgrService.asmx"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--组合时间限定-->
    <add key="svc.ConCombineTimerule" value="dict/CombineTimeruleBIZ.svc"/>

    <!--插件接口-->
    <add key="svc.PluginInterface" value="PluginInterface/PluginInterface.svc"/>

    <!--TAT统计-->
    <add key="svc.ProxyTATStatistics" value="stat/TATStatistics.svc"/>

    <!--TAT监控-->
    <add key="svc.ProxyTATMonitor" value="stat/TATMonitor.svc"/>

    <!--标本管理-->
    <add key="svc.ProxySamManage" value="SamManage/SamStore.svc"/>
    <!--标本管理 标本存储-->
    <add key="svc.SampStockService" value="SamManage/SampStock.svc" />
    <!--科室公告-->
    <add key="svc.ProxyAnnouncement" value="office/Announcement.svc"/>
    <!--结果合并-->
    <add key="svc.ResultMergeNew" value="lab/ResultMergeNewBiz.svc"/>
    <!--本地配置模块-借用统计模块服务端-->
    <add key="svc.frmLocalSetting" value="stat/GeneralStatisticsBIZ.svc"/>
    <!--效验字典-->
    <add key="svc.ConEfficacy" value="dict/EfficacyBIZ.svc"/>
    <!--备份与还原项目结果-->
    <add key="svc.FrmBakItmForResulto" value="lab/BakItmForResultoBIZ.svc"/>
    <!--血型复核-->
    <add key="svc.FrmCheckBloodType" value="lab/CheckBloodTypeBIZ.svc"/>
    <!--血型复核查询-->
    <add key="svc.FrmCheckBloodTypeSel" value="lab/CheckBloodTypeBIZ.svc"/>
    <!--细菌培养基字典-->
    <add key="svc.DictMedia" value="bac/DictMediaBIZ.svc"/>
    <!--条码图片-->
    <add key="svc.frmBCImageView" value="barcode/BCImageViewBIZ.svc"/>
    <!--细菌培养基时限字典-->
    <add key="svc.DictComMedia" value="bac/DictComMediaBIZ.svc"/>

    <!--质控监控-->
    <add key="svc.FrmQcMonitor" value="quality/QcMonitorBIZ.svc"/>
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CommonBehavior">
          <dataContractSerializer maxItemsInObjectGraph="65536000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="bigdata" closeTimeout="00:05:10" openTimeout="00:05:10" receiveTimeout="00:05:10" sendTimeout="00:05:10" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <!-- Reset maxStringContentLength for deserialize -->
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint behaviorConfiguration="CommonBehavior" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="svc.basic" name="svc.basic"/>
      <endpoint address="" behaviorConfiguration="CommonBehavior" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="IRunTimeSettingService" name="runtimesetting"/>
      <endpoint address="" behaviorConfiguration="CommonBehavior" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="LIS.ServiceContract.IPatientCRUD" name="PatientCRUD"/>
      <endpoint address="" behaviorConfiguration="CommonBehavior" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="LIS.ServiceContract.IBarcode" name="BarcodeInfo"/>
      <endpoint address="" behaviorConfiguration="CommonBehavior" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="LIS.ServiceContract.IBarcodeDict" name="BarcodeDict"/>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
