<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CommonBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="65536000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="bigdata" closeTimeout="00:05:10" openTimeout="00:05:10" receiveTimeout="00:05:10" sendTimeout="00:05:10" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <!-- Reset maxStringContentLength for deserialize -->
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      
      <service name="dcl.svr.resultquery.CombineModeSelBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.resultquery.CombModeSelBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.ICombModelSel" />
      </service>
      <service name="dcl.svr.result.ObrResultBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IObrResult" />
      </service>
      <service name="dcl.svr.result.PidReportDetailBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IPidReportDetail" />
      </service>
      <service name="dcl.svr.result.PatientRecheckBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IPatientRecheck" />
      </service>
      <service name="dcl.svr.result.PatResultBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IPatResult" />
      </service>
      <service name="dcl.svr.result.PidReportMainInterface" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IPidReportMainInterface" />
      </service>
      <service name="dcl.svr.result.ObrResultAntiBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IObrResultAnti" />
      </service>
      <service name="dcl.svr.result.ObrResultBactBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IObrResultBact" />
      </service>
      <service name="dcl.svr.result.ObrResultDescBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IObrResultDesc" />
      </service>
      <service name="dcl.svr.result.ObrRelateResultBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IObrRelateResult" />
      </service>
      <service name="dcl.svr.result.PatEnterNewBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IPatEnterNew" />
      </service>
      <service name="dcl.svr.result.PatMonitorBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IPatMonitor" />
      </service>
      <service name="dcl.svr.resultquery.AutoPrintBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.resultquery.TwoWaySelectNewBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.ITwoWaySelect" />
      </service>
      <service name="dcl.svr.resultquery.ItemSortBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IItemSort" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
