<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <services>
      <service name="dcl.svr.instrmt.FrmMaintainInstrumentBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata"  contract="dcl.servececontract.IFrmMaintain" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
