<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <services>
      <service name="dcl.svr.report.ReporMainBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IReportMain" />
      </service>
      <service name="dcl.svr.report.ReportPrintBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.report.PrintConfigurationBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.report.ServerReportBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.report.DCLReportPrintBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IReportPrint" />
      </service>
      <service name="dcl.svr.touchprint.TouchPrintBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.ITouchPrint" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
