<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="dcl.svr.users.FuncManageProBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.ISysFunction" />
      </service>
      <service name="dcl.svr.users.SysUserInfoBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.ISysUserInfo" />
      </service>
      <service name="dcl.svr.users.RoleManageProBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IRoleManagePro" />
      </service>
      <service name="dcl.svr.users.SystemConfigBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.ISystemConfig" />
      </service>
      <service name="dcl.svr.users.FuncManageBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service name="dcl.svr.users.UserManageBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.IUserManage" />
      </service>
      <service name="dcl.svr.users.RoleManageBIZ" behaviorConfiguration="CommonBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.svr.root.com.ICommonBIZ" />
      </service>
      <service behaviorConfiguration="CommonBehavior" name="dcl.svr.users.SysLogBIZ">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.ISysLog" />
      </service>
      <service behaviorConfiguration="CommonBehavior" name="dcl.svr.users.SysOperationLogBIZ">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bigdata" contract="dcl.servececontract.ISysOperationLog" />
      </service>

    </services>
  </system.serviceModel>
</configuration>
